<header>
  <h3>경기교육자치포럼</h3>
</header>
<nav>
  <ul>
    <li>
      <a href="/home/users">
        <!-- <i class="fa fa-home"></i> -->
        가입 현황</a>
    </li>
    <li>
      <a href="/home/locations">
        <!-- <i class="fa fa-info"></i> -->
        지역구 현황</a>
    </li>
    <li>
      <a href="/home/posts">
        <!-- <i class="fa fa-inbox"></i> -->
        공지사항
      </a>
    </li>
  </ul>
  <div class="handle">
    메뉴
  </div>
</nav>
