<!-- <div class="wrapper"> -->
  <div class="page-header" style="margin-top: 0px; background-color: #B2AFAB; padding-top: 70px;"  >
    <!-- <div class="filter"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-xs-offset-1 col-md-4 col-xs-10">
          <div class="card card-register">
            <h3 class="card-title">경기교육자치포럼</h3>
            <form class="register-form" method="POST" action="/home/register">
              <label>Password</label>
              <input type="password" class="form-control no-border" placeholder="Password" name="password">
              <button class="btn btn-danger btn-block btn-round">입력</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
